*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', 'Helvetica', 'Arial', sans-serif;

}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame span{
    font-size: 3vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: baseline;
    text-align: center;
    height: 5vw;
    /* background-color: red; */
    padding: 0 5vw;
    /* transform: translateY(-5vw); */
    cursor: pointer;
}

.frame{
    height: 5vw;
    overflow: hidden;
    /* background-color: red; */
    z-index:2;
    position: relative;
}

#circle{
    pointer-events: none;
    z-index: 1;
    height: 3vw;
    width: 3vw;
    background-color: rgb(70, 70, 195);
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: all cubic-bezier(0.19,1,0.22,1) 0.5s;
}

#frames{
    display: flex;
    gap: 20px;
}